{% extends "base_generic.html" %}

{% block content %}
<h1>All posts</h1>

    {% if blogpost_list %}
    <ul>

      {% for blogpost in blogpost_list %}
          <li>
          <img src="{{ blogpost.image.url }}" class="img-responsive" style="width: 30px; height:30px;" />
          <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
          ({{blogpost.published_date}}) —
          {{ blogpost.short_text }}
          <a href="{% url 'blogs-by-author' blogpost.author.pk %}">{{ blogpost.author }}</a>
          </li>
          <br>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no blogs.</p>
    {% endif %}
{%  endblock %}